body{background-color: rgb(12, 12, 12);}
h1{color: rgb(223, 242, 241);}
hr{color: rgb(248, 245, 243);}
p{color: rgb(241, 234, 234);}
ol{color: rgb(247, 247, 247);}
h3{color: aliceblue;}
h2{color: aliceblue;}
h1{position: relative;}